body {
    font-family: 'Montserrat', sans-serif;
}
#title {
    background-color: #ff4c68;
}

.container-fluid {
    padding: 3% 15%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

/* Navbar styles */

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav-tiem {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 500;
}

/* Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title Image */

.phone-image {
    width: 60%;
    -webkit-transform: rotate(20deg);
    /* Chrome, Safari, Opera */
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
    /* Standard syntax */
}

/* Features */

#features h3 {
    font-weight: bold;
    font-size: 1.5rem;
}

#features p {
    color: #8f8f8f;
}

#features .feature-icons {
    color: #ef8172;
    margin-top: 50px;
    margin-bottom: 30px;
}

#features .feature-icons:hover {
    color: #ff4c68;
}

/* Testimonial Section */

#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: white;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

/* Press Section */

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-images {
    width: 15%;
    margin: 20px 20px 50px;
}


